<body style="background: lightblue;text-align: center">
    <h1 style="text-align: center"> bienvenido ! </h1>
    <h1 style="text-align: center"> welcome ! </h1>
    <h1 style="text-align: center"> bienvenue ! </h1>
</body>
